extends ../layouts/app

block seo 
  title Create a Post 

block content 

  // Banner
  section#banner
    .content
      form(action="/post/create" method="POST")
        label Title
        input(type="text" name="title" id="demo-name" value="" placeholder="Name")
        label IMage URL
        input(type="text" name="image_url" id="demo-name" value="" placeholder="Image URL")
        label Description 
        textarea(name="description" id="demo-message" placeholder="Enter your message" rows="6")
        input(type="submit" value="Send Message" class="primary")